#titreImage {
	text-align: center;
}

#listeConsoles {
	margin-top: 25px;
	text-align: center;
}

.titreConsole {
	font-size: 25px;
	font-weight: bold;
}

.uniteVendue {
	font-size: 20px;
}

body {
	color: white;
}

h1 {
	font-size: 35px;
}

div {
	text-align: center;
}

#jeuxEntreprise {
	width: windowinnerWidth;
	overflow-x: auto;
	white-space: nowrap;
}
